.header {
  display: none;
}
  
.slide_dkr_03 {
  background: resolve('bg.png', 2) 0 0 no-repeat;
  background-size: 100%;
  .elem {
    position: absolute;
    animation: fadeInLeftShort30 1s ease both;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .brain {
    left: 0px;
    top: 300px;
    background-image: resolve('brain.png', 2);
    width: width('brain.png', 2);
    height: height('brain.png', 2);
    animation: fadeInRightShort30 1s ease both .5s;
  }
  .brain_arrow {
    opacity: 0;
    left: 150px;
    top: 325px;
    animation: brainAnim 2s 1.5s infinite;
    background-image: resolve('brain_arrow_2.png', 2);
    width: width('brain_arrow_2.png', 2);
    height: height('brain_arrow_2.png', 2);
  }
  .text_1 {
    left: 63px;
    top: 180px;
    background-image: resolve('text_1.png', 2);
    width: width('text_1.png', 2);
    height: height('text_1.png', 2);
    animation: none;
  }
  .text_2 {
    left: calc(1146px/2);
    top: 90px;
    background-image: resolve('text_2.png', 2);
    width: width('text_2.png', 2);
    height: height('text_2.png', 2);
    animation: fadeIn 3s ease both;
  }
  .text_3 {
    left: calc(1138px/2);
    top: calc(404px/2);
    background-image: resolve('text_3.png', 2);
    width: width('text_3.png', 2);
    height: height('text_3.png', 2);
  } 
  .text_5 {
    left: calc(1138px/2);
    top: calc(852px/2);
    background-image: resolve('text_5.png', 2);
    width: width('text_5.png', 2);
    height: height('text_5.png', 2);
  }
  .text_6 {
    left: calc(1138px/2);
    top: calc(1038px/2);
    background-image: resolve('text_6.png', 2);
    width: width('text_6.png', 2);
    height: height('text_6.png', 2);
  }
  .slider {
    left: calc(980px/2);
    top: calc(524px/2);
    background-image: resolve('slider.png', 2);
    width: width('slider.png', 2);
    height: height('slider.png', 2);
    animation: fadeInLeftLong 1s ease both .5s;
  }
}

.additional_text {
  left: 600px !important;
  top: 44px !important;
  width: width('add_text_2.png', 2) !important;
  height: height('add_text_2.png', 2) !important;
  background: resolve('add_text_2.png') 0 0 no-repeat !important;
  background-size: size('add_text_2.png', 2) !important;
}

.footer__pill {
  display: none;
}



@keyframes brainAnim{
  0% {
    opacity: 0.3;
  } 
  50% {
    opacity: 1;
  }
  100% {
   opacity: 0.3;
  }
}