extends ../../blocks/layout/layout
block content
  .slide_wrapper
    .elem.brain
    .elem.brain_arrow.brain_arrow
    .elem.text_1
    .elem.slider
    .elem.text_2
    .elem.text_3
    .elem.text_5
    .elem.text_6


  +footer()

  .ref    
    | Проф.Захаров В.В. и соавторы, журнал "Врач" 3^2017 <br/>






