@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes transform-clean {
  to {
    transform: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoom-in {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoom-in2 {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  70% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleH {
  from {
    transform: scale3d(1, .3, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp2 {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -250px, 0);
  }
}

@keyframes leaf {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  20% {
    transform: translate3d(25px, -50px, 0);
  }
  40% {
    transform: translate3d(-25px, -100px, 0);
  }
  60% {
    transform: translate3d(25px, -150px, 0);
  }
  80% {
    transform: translate3d(-25px, -200px, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -250px, 0);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes moveUp {
  50% {
    transform: translate3d(0, -25px, 0);
  }
}

@keyframes scaleL {
  50% {
    transform: scale(1.8);
    opacity: 0.5;
  }
}

.zoomInBounce {
  animation: zoomInBounce linear 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

@keyframes zoomInBounce {
  0% {
    transform: scaleX(0.00) scaleY(0.00);
  }
  15% {
    transform: scaleX(0.50) scaleY(0.50);
  }
  30% {
    transform: scaleX(1.00) scaleY(1.00);
  }
  45% {
    transform: scaleX(1.10) scaleY(1.10);
  }
  60% {
    transform: scaleX(1.00) scaleY(1.00);
  }
  75% {
    transform: scaleX(1.05) scaleY(1.05);
  }
  100% {
    transform: scaleX(1.00) scaleY(1.00);
  }
}

@keyframes rotateAni {
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  50% {
    opacity: 1;
  }
  to {
    transform: scale(0, 0);
    opacity: 0;
  }
}

@keyframes out-in-left {
  to {
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }
}

@keyframes meteor {
  0% {
    transform: translate3d(300px, 300px, 0)rotate(-28deg);
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  10% {
    transform: translate3d(-300px, 600px, 0)rotate(-28deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(-45deg);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRightShort {
  from {
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInBottomShort {
  from {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeOutTopShort {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }
}

@keyframes fadeInTopShort {
  from {
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInLeftShort {
  from {
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInRightShort30 {
  from {
    transform: translate3d(-30px, 0, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInBottomShort30 {
  from {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeOutTopShort30 {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
}

@keyframes fadeInTopShort30 {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInLeftShort30 {
  from {
    transform: translate3d(30px, 0, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeOutRightShort30 {
  from {
    opacity: 1;
  }
  to {
    transform: translate3d(30px, 0, 0);
    opacity: 0;
  }
}

@keyframes fadeInRightLong {
  from {
    transform: translate3d(-200px, 0, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInLeftLong {
  from {
    transform: translate3d(200px, 0, 0);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
