/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */
* {
  box-sizing: border-box;
}
body {
	width: 1024px;
	height: 768px;
	overflow: hidden;
}
ol{
    list-style: inherit;
    list-style-type: decimal;
}

#slide_container {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
  -webkit-transition: opacity .75s;
          transition: opacity .75s;
}

#slide_container.show {
  opacity: 0;
}

#base_container {
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}

#base_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 100%;
    max-height: 100%;
    overflow: hidden; /* So the sliding bit doesn't stick out. */
    margin: 0 auto;
    -webkit-user-drag: none;
}

#slide_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    -webkit-transition: all 1.0s ease-in-out;
    -moz-transition: all 1.0s ease-in-out;
    -o-transition: all 1.0s ease-in-out;
    transition: all 1.0s ease-in-out;
    -webkit-user-drag: none;
}

#slide_container div.slide {
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    float: left; /* All the images are in a row next to each other. */
    position: absolute;
    overflow: hidden;
    -webkit-user-drag: none;
}
