mixin help(text)
  .help&attributes(attributes)
    .help__overlay
    if text
      .help__about
        .help__header
          .help__header-animation
          .help__header-text Цель анимации
          .help__header-plus.help__header-plus_active
        .help__body.help__body_show
          .help__body-text!=text
          .help__body-arrow
    block

mixin hint(type, text)
  .hint(class='hint_'+type)&attributes(attributes)
    .hint__hand
    case type
      when 'ref'
        .hint__text.
          Нажмите, чтобы показать <br>
          источники. Нажмите<br>
          в любом месте экрана,<br>
          чтобы скрыть источники.
      when 'pack'
        .hint__text.
          Нажмите, чтобы<br>
          ознакомиться с инструк-<br>
          цией по препарату.
      when 'mech'
        .hint__text.
          Нажмите, чтобы<br>
          показать механизм<br>
          действия Престариум А.
      default
        .hint__text=text
