.help {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  &_show {
    display: block;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 9998;
    &_show {
      display: block;
    }
  }
  &__about {
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 133px;
    width: 768px;
  }
  &__header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 77px;
    background-color: #006ec7;
    background-image: linear-gradient(-4deg, rgba(0, 90, 163, 0.16) 0%, transparent 100%);
    box-shadow: 0 2px 11px rgba(30, 31, 29, 0.58);
  }
  &__header-animation {
    position: absolute;
    top: 21px;
    left: 266px;
    width: width('help/icon_animate.png', 2);
    height: height('help/icon_animate.png', 2);
    background: resolve('help/icon_animate.png') 0 0 no-repeat;
    background-size: size('help/icon_animate.png', 2);
  }
  &__header-text {
    position: absolute;
    top: 24px;
    left: 320px;
    color: white;
    font-family: Arial;
    font-size: 25px;
    font-weight: 400;
  }
  &__header-plus {
    position: absolute;
    top: 20px;
    left: 710px;
    width: width('help/icon_plus.png', 2);
    height: height('help/icon_plus.png', 4);
    background: resolve('help/icon_plus.png') 0 0 no-repeat;
    background-size: size('help/icon_plus.png', 2);
    &_active {
      background-position-y: 100%;
    }
  }
  &__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0 0 24px 7px rgba(255, 255, 255, 0.34);
    transform: translate3d(0, -100%, 0);
    transition: transform 300ms;
    &_show {
      transform: translate3d(0, 0, 0);
    }
  }
  &__body-text {
    padding: 100px 50px 50px 50px;
    color: black;
    font-family: Arial;
    font-size: 21px;
    font-weight: 400;
    line-height: 23px;
  }
  &__body-arrow {
    position: absolute;
    bottom: 19px;
    right: 21px;
    width: width('help/icon_arrow.png', 2);
    height: height('help/icon_arrow.png', 2);
    background: resolve('help/icon_arrow.png') 0 0 no-repeat;
    background-size: size('help/icon_arrow.png', 2);
  }
}
.hint {
  z-index: 9999;
  position: absolute;
  left: 103px;
  top: 483px;
  min-width: 200px;
  max-width: 310px;
  /*min-height: 100px;*/
  background-color: black;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  &__hand {
    flex: 1 0 width('help/icon_hand.png', 2);
    width: width('help/icon_hand.png', 2);
    height: height('help/icon_hand.png', 2);
    background: resolve('help/icon_hand.png') 0 0 no-repeat;
    background-size: size('help/icon_hand.png', 2);
    margin-right: 20px;
  }
  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 50px;
    border-color: transparent transparent transparent black;
  }
  &_ref {
    left: 120px;
    top: 640px;
  }
  &_pack {
    top: 660px;
    left: 570px;
  }
  &_pack, &_right {
    &:after {
      top: calc(50% - 15px);
      right: -30px;
    }
  }
  &_ref, &_left {
    &:after {
      top: calc(50% - 15px);
      left: -30px;
      transform: rotate(0.5turn);
      z-index: -1;
    }
  }
  &_bottom-right {
    top: auto;
    bottom: 188px;
    &:after {
      bottom: -20px;
      right: -30px;
      transform: rotate(0.125turn);
    }
  }
  &_bottom-left {
    top: auto;
    bottom: 188px;
    &:after {
      bottom: -20px;
      left: -30px;
      transform: rotate(0.375turn);
      z-index: -1;
    }
  }
  &_bottom {
    &:after {
      bottom: -15px;
      left: calc(50% - 25px);
      transform: rotate(0.25turn);
      z-index: -1;
    }
  }
  &_top {
    &:after {
      top: -15px;
      left: calc(50% - 25px);
      transform: rotate(0.75turn);
      z-index: -1;
    }
  }
  &_top-right {

  }
  &_mech{
    left: 673px;
    top: 113px;
    &:after {
      top: -20px;
      right: -30px;
      transform: rotate(-0.125turn);
    }
  }
}
