extends ../../blocks/layout/layout
block content
  .slide_wrapper

    .elem.text_1

    .slider-wrapper
      .slider 
    .slider-btn
  +footer()

  .ref    
    |1. Коррадино О. И соавт. Трид Мед, 1988, с.39-42<br/>
    |2. Яхно Н. Н. и соавт. Журнал неврологии и психиатрии, No 2, 2006<br/>
    |3. Lasserre P, Coppolani T. Une etude nationale multi-centrique mixte (Hopital ville) 6000 malades a 1 comprime par jour dans l’insuffisance cerebrale. Vie Med. 1980; 61(1): 39–50<br/>
    |4. Яхно Н. Н., Захаров В. В. Лечение недементных когнитивных нарушений у пациентов с артериальной гипертензией и церебральным атеро- склерозом. Неврологический журнал, No<br/>
    |5. 2012. 4. Lambroso J. The value of Trivastal in the long-term treatment of chronic cerebral insufficience //CRTher. 1983. P. 1–9.5<br/>

  +help('Цель анимации:').help_active
    +hint('pack')
    +hint('ref')

