.slide_dkr_04_1 {
  background: resolve('bg.jpg', 2) 0 0 no-repeat;
  background-size: 100%;
  .elem {
    position: absolute;
    animation: fadeInLeftShort30 1s ease both;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .text_1 {
    left: calc(1055px/2);
    top: calc(415px/2);
    background-image: resolve('text_1.png', 2);
    width: width('text_1.png', 2);
    height: height('text_1.png', 2);
  }
  .slider-btn {
    border-width: 1px;
    border-color: rgb(1, 112, 196);
    border-style: solid;
    background-color: rgba(1, 112, 196, .4);
    position: absolute;
    border-radius: calc(116px/4);
    left: calc(-72px/2);
    top: calc(826px/2);
    width: calc(193px/2);
    height: calc(116px/2);
    transform: translate3d(0,150px,0);
    transition: all .5s;
    &:before,&:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      left: 65%;
      background-color: rgb(1,112,196);
      top: 50%;
      transform: translate(-50%,-50%) rotate(45deg);
      transform-origin: 100% 50%;
      transition: all .5s;
    }
    &:after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }
  }
  .slider-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(775px/2);
    height: 400px;
    background-color: rgba(255,255,255,.6);
    background-image: resolve('slider-wrapper-bg.png');
    background-size: width('slider-wrapper-bg.png',2) height('slider-wrapper-bg.png',2);
    background-repeat: no-repeat;
    background-position: 60px 50px;
    transform: translate3d(0,300px,0);
    transition: all .5s;
  }



  .slider {
    position: absolute;
    left: 53px;
    top: 116px;
    width: 792px;
    border: none;
  }

  .noUi-handle {
    border-radius: 50%;
    background-image: -moz-linear-gradient( -90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 0%, rgb(255,255,255) 100%);
    box-shadow: calc(0px/2) calc(5px/2) calc(5px/2) calc(0px/2) rgba(0, 0, 0, 0.26);
    position: absolute;
    width: calc(100px/2);
    height: calc(100px/2);
    &:before,&:after {
      opacity: 0;
      width: 250px;
      height: 120px;
      left: -40px;
      top: -30px;
    }
  }

  &.state_1 {
    .slider-wrapper {
      transform: none;
    }
    .slider-btn {
      transform: none;
      &:before,&:after {
        transform-origin: 50% 50%;
      }
    }
  }

}

.header .logo {
  background-image: none;
}

.additional_text {
  left: 600px !important;
  top: 44px !important;
  width: width('add_text_2.png', 2) !important;
  height: height('add_text_2.png', 2) !important;
  background: resolve('add_text_2.png') 0 0 no-repeat !important;
  background-size: size('add_text_2.png', 2) !important;
}

.footer__pill {
  display: none;
}