.nav {
    position: absolute;
    left: 611px;
    top: 24px;
    width: 417px;
    height: 391px;
    width: width('/nav/menu.png', 2);
    height: height('/nav/menu.png', 2);
    background: resolve('/nav/menu.png') 0 0 no-repeat;
    background-size: size('/nav/menu.png', 2);
    transform: translate3d(360px,0,0);
    transition: all .5s;
    z-index: 0;
    &__active{
      transform: translate3d(0px,0,0);
      transition: all .5s;
      z-index: 100;
    }
    &__href{
      position: absolute;
      left: 82px;
      top: 28px;
      width: 308px;
      height: 77px;
      /*border: solid 1px red;*/
      &-2{
        top: 113px;
      }
      &-3{
        top: 199px;
      }
      &-4{
        top: 284px;
      }
    }
    &__toggle{
      position: absolute;
      left: 2px;
      top: 0px;
      width: 64px;
      height: 69px;
    }
}
