.paginator-wrapper {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate3d(0,-50%,0);
  .dot {
    margin-bottom: 5px;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,.3);
    border-radius: 50%;
    transition: all .4s;
    &_active {
      background-color: #fff;
    }
  }
}
