.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  animation: fadeIn 1s both;
  display: none;
  z-index: 100;
  &_show {
    display: block;
  }
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 0 31px rgba(49, 52, 56, 0.15);
  display: none;
  transform: translate3d(-50%, -50%, 0);
  z-index: 999;
  animation: fade-in .3s both cubic-bezier(0.51, 0.03, 0.06, 1);
  will-change: opacity;
  transform-origin: 50% 50%;
  z-index: 101;
  border-radius: 6px;
  overflow: hidden;
  &_show {
    display: block;
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
  &__close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 60px;
    height: 60px;
    transform: translate3d(50%, -50%, 0);
  }
  &_blue &__close {
    width: width('popup/close_blue.png', 2);
    height: height('popup/close_blue.png', 2);
    background: resolve('popup/close_blue.png') 0 0 no-repeat;
    background-size: size('popup/close_blue.png', 2);
  }
}