extends ../../blocks/layout/layout
block content
  .slide_wrapper
    .elem.text_1
    .elem.man

  +footer()

  .ref
    |1.Коррадино О. соавторы ТридМед 1988,с.39-42 <br/>
    |2.Яхно Н.Н. с соавторами Журнал неврологии и<br/>
    |психиатрии №2 2006<br/>
    |3. Lassere P Coppolani T. Une etude nationale multi-centrique<br/>
    |mixte 6000 malades a 1 comprime par jour dans Iinsuffisance<br/>
    |cerebrale Vie Med 1980 61(1) 39-50<br/>
    |4. Яхно Н.Н. Захаров В.В. Лечение додементных<br/>
    |когнитивных нарушений у пациентов с артериальной<br/>
    |гипертензией и церебральным атеросклерозом.<br/>
    |Неврологический журнал<br/>






