.header {
  display: none;
}
  
.slide_dkr_05 {
  background: resolve('bg.png', 2) 0 0 no-repeat;
  background-size: 100%;
  .elem {
    position: absolute;
    animation: fadeInLeftShort30 1s ease both;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .text_1 {
    left: 438px;
    top: 450px;
    background-image: resolve('text_1.png', 2);
    width: width('text_1.png', 2);
    height: height('text_1.png', 2);
  }
  .man {
    background-image: resolve('man.png', 2);
    width: width('man.png', 2);
    height: height('man.png', 2);
    animation: none;
  }
}

.footer {
  background-color: rgba(102, 51, 153,0);
  border-top: none !important;
  .footer__pronoran {
    display: none;
  }
  .additional_text {
    display: none;
  }
  .footer__pill {
    display: none;
  }
  .footer__brain {
    display: none;
  }
}

.ref {
  padding: 90px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  left: 0;
  right: 550px;
  bottom: 0px;
}

.ref_show {
  display: block;
}
.footer__ref {
  width: width('ref-icon.png', 2) !important;
  height: height('ref-icon.png', 2) !important;
  background: resolve('ref-icon.png') 0 0 no-repeat !important;
  background-size: size('ref-icon.png', 2) !important;
} 

.state_1.footer__ref {
    width: width('ref-icon-0.png', 2) !important;
    height: height('ref-icon-0.png', 2) !important;
    background: resolve('ref-icon-0.png') 0 0 no-repeat !important;
    background-size: size('ref-icon-0.png', 2) !important;
  }