extends ../../blocks/layout/layout
block content
  .slide_wrapper
    .elem.brain
    .elem.brain_arrow.brain_arrow
    .elem.text_1
    .elem.text_2
    .elem.slider
    .elem.text_3
    .elem.text_4

  +footer()

 
    