.lightbulbs {
  position: absolute;
  left: 99px;
  top: 615px;
  font-size: 0;
  &__item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    transform: scale3d(0.8,0.8,1);
    width: width('lightbulbs/lightbulb.png', 2);
    height: height('lightbulbs/lightbulb.png', 2);
    background: resolve('lightbulbs/lightbulb.png') 0 0 no-repeat;
    background-size: size('lightbulbs/lightbulb.png', 2);
    &_active {
      &:after {
        position: absolute;
        top: -3px;
        left: -7px;
        content: '';
        width: width('lightbulbs/lightbulb_active.png', 2);
        height: height('lightbulbs/lightbulb_active.png', 2);
        background: resolve('lightbulbs/lightbulb_active.png') 0 0 no-repeat;
        background-size: size('lightbulbs/lightbulb_active.png', 2);
        transform-origin: 14px 20px;
      }
    }
    &_animate {
      &:after {
        animation: fadeIn 1s 1s both;
      }
    }
  }
  &_blue {
    top: 630px;
  }
  &_blue &__item {
    width: width('lightbulbs/lightbulb_blue.png', 2);
    height: height('lightbulbs/lightbulb_blue.png', 2);
    background: resolve('lightbulbs/lightbulb_blue.png') 0 0 no-repeat;
    background-size: size('lightbulbs/lightbulb_blue.png', 2);
  }
}
