mixin lightbulbs(cur)
  .lightbulbs&attributes(attributes)
    -for(var i = 1; i < 6; i++){
      if i < cur
        .lightbulbs__item.lightbulbs__item_active
      else if i == cur
        .lightbulbs__item.lightbulbs__item_active.lightbulbs__item_animate
      else
        .lightbulbs__item
    -}
