mixin scripts()
  script(src='js/jquery-2.1.4.min.js')
  script(src='js/fastclick.js')
  script(src='js/hammer.min.js')
  script(src='js/jquery.transit.min.js')
  script(src='js/iscroll.js')
  script(src='js/nouislider.min.js')
  //- script(src='js/jquery.hammer.js')
  //- script(src='js/jquery.touchSwipe.min.js')
  script(src='js/main.js')
  block noUi
  if slideJS
    script(src='js/'+slide+'/slide.js')
  if block
    block

