.header {
    display: none;
}
  
.slide_dkr_01 {
  background: resolve('bg.png', 2) 0 0 no-repeat;
  background-size: 100%;
  .elem {
    position: absolute;
    animation: fadeInLeftShort30 1s ease both;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .text_1 {
    left: 438px;
    top: 520px;
    background-image: resolve('text_1.png', 2);
    width: width('text_1.png', 2);
    height: height('text_1.png', 2);
  }
  .man {
    background-image: resolve('man.png', 2);
    width: width('man.png', 2);
    height: height('man.png', 2);
    animation: none;
  }
}