.header {
  position: absolute;
  width: 196px;
  height: 22px;
  color: white;
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  top: 0;
  display: block;
  /*z-index: 10;*/
  & sup {
    vertical-align: top;
    font-size: 18px;
  }
}

.logo:after {
  position: absolute;
  content: "";
  left: -20px;
  top: -20px;
  bottom: -20px;
  right: -20px;
}

.coraxan-logo {
  position: absolute;
  left: 50px;
  top: 25px;
  width: width('header/coraxan_logo.png', 2);
  height: height('header/coraxan_logo.png', 2);
  background: resolve('header/coraxan_logo.png') 0 0 no-repeat;
  background-size: size('header/coraxan_logo.png', 2);
}

.pronoran-logo {
  position: absolute;
  left: 51px;
  top: 30px;
  width: width('header/pronoran_logo.png', 2);
  height: height('header/pronoran_logo.png', 2);
  background: resolve('header/pronoran_logo.png') 0 0 no-repeat;
  background-size: size('header/pronoran_logo.png', 2);
}