- var slideJS = true;
- var slideCSS = true;
- var btn = true;
block vars

include ../scripts/scripts
include ../popup/popup
include ../lightbulbs/lightbulbs
include ../nav/nav
include ../header/header
include ../mech/mech
include ../paginatorx/paginatorx
//- include ../dop_materials/dop_materials
//- include ../dop_materials_pron/dop_materials_pron
//- include ../dop_materials_vald/dop_materials_vald
include ../info_guide/info_guide
include ../help/help
include ../footer/footer

doctype html
html(lang='ru')
	include ../head/head
	body
		div(class='slide slide_'+slide)
			block content
			//- +nav()
		+header()
		//- +mech()
		+info_guide()
		+scripts()
