head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name="apple-mobile-web-app-capable" content="yes")
	//- meta (name = "viewport" content = "width = 320, initial-scale = 2.3, user-scalable = no")
	//- meta(name="apple-mobile-web-app-status-bar-style",content="black-translucent")
	//- http://realfavicongenerator.net/faq#why_ico_not_declared
	
	block head
	title= pageTitle || ''

	link(href='css/main.css?rel=' + timestamp rel='stylesheet')
	if slideCSS
		link(href='css/'+slide+'/slide.css?rel=' + timestamp rel='stylesheet')
