.wrapper-gray {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.footer {
  position: absolute;
  left: 0px;
  top: 666px;
  width: 1026px;
  height: 103px;
  opacity: 1;
  background-color: #fff;
  border-top: 1px solid #ddd;
  z-index: 2;
  .additional_text {
    position: absolute;
    left: 349px;
    top: 44px;
    width: width('footer/add_text.png', 2);
    height: height('footer/add_text.png', 2);
    background: resolve('footer/add_text.png') 0 0 no-repeat;
    background-size: size('footer/add_text.png', 2);
  }
  &__no_dye {
    position: absolute;
    left: 609px;
    top: 35px;
    width: width('footer/no_dye.png', 2);
    height: height('footer/no_dye.png', 2);
    background: resolve('footer/no_dye.png') 0 0 no-repeat;
    background-size: size('footer/no_dye.png', 2);
  }
  &__coraxan {
    position: absolute;
    left: 855px;
    top: -10px;
    width: width('footer/coraxan_packs.png', 2);
    height: height('footer/coraxan_packs.png', 2);
    background: resolve('footer/coraxan_packs.png') 0 0 no-repeat;
    background-size: size('footer/coraxan_packs.png', 2);
  }
  &__pronoran {
    position: absolute;
    left: 795px;
    top: -20px;
    width: width('footer/pronoran_pack.png', 2);
    height: height('footer/pronoran_pack.png', 2);
    background: resolve('footer/pronoran_pack.png') 0 0 no-repeat;
    background-size: size('footer/pronoran_pack.png', 2);
    &:before {
      content: '';
      position: absolute;
      left: -60px;
      top: 51px;
      width: width('footer/icon_like.png', 2);
      height: height('footer/icon_like.png', 2);
      background: resolve('footer/icon_like.png') 0 0 no-repeat;
      background-size: size('footer/icon_like.png', 2);
    }
  }
  &__like {
    position: absolute;
    left: 510px;
    top: 30px;
    width: width('footer/like.png', 2);
    height: height('footer/like.png', 2);
    background: resolve('footer/like.png') 0 0 no-repeat;
    background-size: size('footer/like.png', 2);
  }
  &__diz {
    position: absolute;
    display: none;
    top: 22px;
    left: 160px;
    width: width('footer/btn_diz.png', 2);
    height: height('footer/btn_diz.png', 2);
    background: resolve('footer/btn_diz.png') 0 0 no-repeat;
    background-size: size('footer/btn_diz.png', 2);
    &__disable {
      opacity: .3;
    }
  }
  &__ref {
    position: absolute;
    top: 22px;
    left: 51px;
    width: width('footer/ref-icon-0.png', 2);
    height: height('footer/ref-icon-0.png', 2);
    background: resolve('footer/ref-icon-0.png') 0 0 no-repeat;
    background-size: size('footer/ref-icon-0.png', 2);
  }
  &__ref_disabled {
    opacity: .3;
  }
  
  &__brain {
    position: absolute;
    top: 30px;
    left: 120px;
    width: width('footer/brain-icon.png', 2);
    height: height('footer/brain-icon.png', 2);
    background: resolve('footer/brain-icon.png') 0 0 no-repeat;
    background-size: contain;
  }
  &__pill {
    position: absolute;
    top: 30px;
    left: 120px;
    width: width('footer/pill-icon.png', 2);
    height: height('footer/pill-icon.png', 2);
    background: resolve('footer/pill-icon.png') 0 0 no-repeat;
    background-size: contain;
  }
}

.ref {
  padding: 30px;
  font-family: 'Helvetica';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  z-index: 1;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
  opacity: 1;
  color: #696c6d;
  line-height: 20px;
  background-color: rgb(234, 239, 242);
  display: none;
  animation: fade-in-up .3s both;
}

.ref_show {
  display: block;
}