mixin footer()
  .wrapper-gray
  block ref
  .footer&attributes(attributes)
    a.footer__pronoran(href='./pdf/pronoran_instr.pdf')
    .additional_text
    .footer__ref
    .footer__diz
    .footer__pill(data-href='bp_06')
