.info_guide{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: width('info_guide/info_guide.jpg', 2);
  height: height('info_guide/info_guide.jpg', 2);
  background: resolve('info_guide/info_guide.jpg') 0 0 no-repeat;
  background-size: size('info_guide/info_guide.jpg', 2);
  opacity: 0;
  z-index: -1;
  transition: all .5s;
  /*display: none;*/
  &-active{
    /*display: block;*/
    opacity: 1;
    z-index: 102;
    transition: all .5s;
  }
}
