.btn-mech {
  position: absolute;
  left: 970px;
  top: 24px;
  width: width('mech/btn-mech.png', 2);
  height: height('mech/btn-mech.png', 2);
  background: resolve('mech/btn-mech.png') 0 0 no-repeat;
  background-size: size('mech/btn-mech.png', 2);
}
.mech {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  /*display: block;*/
  z-index: 10;
}
.mech_show {
  display: block;
}
.mech__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: width('mech/mech.jpg', 2);
  height: height('mech/mech.jpg', 2);
  background: resolve('mech/mech.jpg') 0 0 no-repeat;
  background-size: size('mech/mech.jpg', 2);
  border-radius: 3px;
}

.mech__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  &:after,&:before{
    content: '';
    width: 18px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50% ;
  }
  &:after{
    transform: translate3d(-50%,-50%,0) rotate(45deg);

  }
  &:before{

    transform: translate3d(-50%,-50%,0) rotate(-45deg);

  }
}
